:root {
  --bg-color: #000; /* было */
  --bg-color: #001f3f; /* стало – тёмно-синий */
}

@media screen and (min-width: 768px) {
  /* Убедитесь, что селектор достаточно специфичен, 
   чтобы переопределить стили Tilda и не юзатронуть другие блоки */
  .t776__parent[data-blocks-per-row="4"] {
    /* Можно попробовать использовать Grid или Flexbox для переопределения */
    /* Пример с Grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Задает 3 равные колонки */
    gap: 30px; /* Укажите нужный отступ между колонками, 
                  Tilda обычно использует 20px или 30px */
  }

  .t776__parent[data-blocks-per-row="4"] .t776__col {
    width: auto !important; /* Сбросить ширину, заданную классами t-col_ */
    max-width: 100%;
  }
}

.t214__blockimg {
  background-size: 70% auto !important; /* Например, 90% ширины, высота авто */
  /* Или можно указать оба значения, например: background-size: 85% 85% !important; */
  /* background-repeat: no-repeat !important; */
  /* background-position: center center !important; */
}

.t-menu__link-item {
  color: black !important; /* Цвет текста в списке */
  font-size: 14px !important;
  text-align: center !important;
  display: flex;
  font-weight: 700 !important;
}
.p_kachestvo{
  font-size: 19px !important;
}

.t862__quiz-description-text {
  font-size: 40px !important;
}
.t-btn__text2 {
  text-decoration: none;
}

.t967__menualign_left {
  justify-content: space-between !important;
  align-items: center !important;
  display: flex !important;
}
.t-slides__arrow_body-light {
  display: none;
}

.t-slides__bullet_wrapper {
  display: none;
}
@media screen and (max-width: 1567px) {

  .t554__card-wrapper {

    left: 930px !important;
  
  }
  
}
@media screen and (max-width: 1267px) {

  .t554__card-wrapper {

    left: 730px !important;
  
  }
  
}
@media screen and (max-width:1067px) {

  .t554__card-wrapper {

    left: 530px !important;
  
  }
  
}
.t214__title{
  text-align: center !important;
}

#rec24609528 .t-section__title {
  margin-bottom:35px !important;
}

.t-animate_started_p{
  margin-bottom: 60px !important;
}
.t214__container_mobile-flex {
  display: none !important;
}